body {
  margin: 0;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 10px;
}

#about {
  min-height: 100vh;
}

.about-sect {
  display: flex;
  /*height: 100vh;*/
  color: #fff;
  background: #2f3068;
  box-sizing: border-box;
}

#projects {
  min-height: 100vh;
}

.projects-sect {
  display: flex;
  /*height: 100vh;*/
  color: #fff;
  background: #2f3068;
  box-sizing: border-box;
}

#contact {
  min-height: 100vh;
}
.contact-sect {
  display: flex;
  /*height: 100vh;*/
  color: #fff;
  background: #2f3068;
  box-sizing: border-box;
}

.logo-image {
  height: 200px;
}

h2 {
  font-size: 24px;
}

.box {
  text-align: center;
}

.card {
  background-color: #2f3068;
  border: 0.75px solid #fff;
  border-radius: 20px;
  box-shadow: 10px 10px rgba(255, 255, 255, 0.1);
}

.card-title {
  color: #fff;
}

.ellipsis {
  text-overflow: auto;
  white-space: nowrap;
  overflow: scroll;
}

h3 {
  font-size: 16px;
  font-style: oblique;
}

h5 {
  font-size: 14px;
}

p {
  color: #fff;
}

.image {
  height: 120px;
}

.card-contact {
  margin-top: 1px;
}

#box-A {
  margin: 20px;
}

#box-B {
  margin: 20px;
}

@media only screen and (min-width: 375px) {
  .navbar {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .navbar-brand {
    font-size: 18px;
  }

  .logo-image {
    height: 300px;
  }

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  .image {
    height: 75px;
  }

  .about-sect {
    margin-top: 10px;
  }

  .project-sect {
    display: flex;
    flex-wrap: wrap;
  }

  #box-A {
    margin: 5px;
  }

  #box-B {
    margin: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .navbar-brand {
    font-size: 18px;
  }

  .logo-image {
    height: 500px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .image {
    height: 75px;
  }

  .about-sect {
    margin-top: 10px;
  }

  .project-sect {
    display: flex;
    flex-wrap: wrap;
  }

  #box-A {
    margin: 5px;
  }

  #box-B {
    margin: 5px;
  }
}
